{% extends 'learning_logs/base.html' %}
{% block title %}Welcome to Learning Log {% endblock title %}

{% block page_header %}

    <div class="p-3 mb-4 bg-light border rounded-3">
        <div class="container-fluid py-4">
            <h1 class="display-3">Track your learning</h1>
            <p class="lead">Make your own Learning Log, and keep a list of the topics you're learning about. Whenever you learn something new about a topic, make an entry summarizing what you've learned.</p>
            {% if user.is_authenticated %}
            <a class="btn btn-primary btn-lg mt-1" href="{% url 'learning_logs:topics' %}">Your Topics &raquo;</a>
            {% else %}
            <a class="btn btn-primary btn-lg mt-1" href="{% url 'accounts:register' %}">Register &raquo;</a>
            {% endif %}
        </div>
    </div>

{% endblock page_header %}


{% block content %}
<h5>Introducing Learning Log, the ultimate app designed to help you organize and enhance your learning journey. With Learning Log, you can create topics like "coding", "learning piano" or "climbing" and add detailed entries where you can document and save your progress. Whether you prefer keeping your topics private for personal tracking or making them public to inspire others, Learning Log provides the flexibility you need. Its minimalistic design ensures you stay focused and free from distractions, allowing you to concentrate solely on your educational goals.</h5>

<h5>
    Learning Log is perfect for anyone looking to structure their learning efficiently and access it anytime, anywhere. By offering a streamlined and user-friendly interface, the app encourages continuous learning and personal growth. Join a community of like-minded individuals or keep your progress private - the choice is yours. Start using Learning Log today and take control of your learning process in a way that's simple, effective, and inspiring. Start Learning Today!
</h5>
{% endblock content %}