{% extends 'learning_logs/base.html' %}


{% block page_header %}
    Topics
{% endblock page_header %}

{% block content %}


    <div class="container">
        <ul class="nav nav-tabs d-flex justify-content-center mt-4 " id="myTab" role="tablist">
            <li class="nav-item" role="presentation" {% if not user.is_authenticated %} data-bs-toggle="tooltip" data-bs-placement="top" title="Log in to view your topics" {% endif %}>
                <a class="nav-link {% if user.is_authenticated %}active {% else %} disabled {% endif %} px-4" id="user-topics-tab" data-bs-toggle="tab" href="#user-topics" role="tab"><h5 class="my-2 px-md-5">Your topics</h5></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link px-4 {% if not user.is_authenticated %}active {% endif %}" id="public-topics-tab" data-bs-toggle="tab" href="#public-topics" role="tab"><h5 class="my-2 px-md-5">Public topics</h5></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade {% if user.is_authenticated %}show active{% endif %}" id="user-topics" role="tabpanel">
                <ul class="list-group border-bottom pb-2 mb-4">
                    {% for topic in user_topics %}
                        <li class="list-group-item border-0">
                            <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic.text }}</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item border-0">No topics have been added yet</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-pane fade {% if not user.is_authenticated %}show active{% endif %}" id="public-topics" role="tabpanel">
                <!-- Loop through public_topics and display them -->
                <ul class="list-group border-bottom pb-2 mb-4">
                    {% for topic in public_topics %}
                        <li class="list-group-item border-0">
                            <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic.text }}</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item border-0">No topics have been added yet</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>

{% endblock content %}